link(href='/assets/libs/bootstrap/dist/css/bootstrap.min.css',rel='stylesheet')
script(src='/assets/libs/jquery/dist/jquery.min.js')
script(src='/assets/libs/bootstrap/dist/js/bootstrap.min.js')

//- Use /assetes/.....  --> absolute path