extends ../layout
block content
  .container
    .row
      form.form-horizontal(method="post",action="/admin/category")
        //- hiden input??? pass the value
        //- if movie._id
        //- input(type="hidden", name="movie[_id]", value=movie._id)
        .form-group
          label.col-sm-2.control-label(for="category") 电影分类
          div.col-sm-10
            input#title.form-control(type="text", name="category[name]", value=category.name)
        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-default(type="submit") 录入
